@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-Regular.woff");
}

@font-face {
    font-family: Norse;
    src: url("./fonts/Norse.otf");
}

body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url("background.jpg");
    background-size: 100% 100%;

    display: flex;
}

.image {
    flex: 35%;
    position: relative;
}

form {
    background-color: #f1f1f1;
    flex: 65%;
}

.logo-container {
    position: absolute;
    top: 20%;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;

    background-color: rgba(0,0,0,0.5);
    color: white;
    font: 172px Norse, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logo-container img {
    width:20%;
}

.img-text {
    padding: 4px 0;
    text-align: center;
    color: white;
    font-family: Roboto, Helvetica, sans-serif;

    position: absolute;
    width: 100%;
    bottom: 0.25rem;
}

.image a {
    color: white;
}

.image a:visited {
    color: white;
}